*#*
*.acn
*.acr
*.alg
*.aux
*.aux*
*.bbl
*.bbl*
*.bcf*
*.blg
*.blg*
*.btmp
*.btmp*
*.d
*.d*
*.dvi
*.eps
*.fdb_latexmk
*.fls
*.fls*
*.gif
*.glg
*.glo
*.glo*
*.gls
*.gz
*.gz*
*.idx
*.idx*
*.ilg
*.ilg*
*.ind
*.ind*
*.ist
*.ist*
*.lof
*.lof*
*.log
*.log*
*.lot
*.lot*
*.maf
*.mtc
*.mtc1
*.nav
*.nlg
*.nlg*
*.nlo
*.nlo*
*.nls
*.nls*
*.out
*.out*
*.snm
*.swp*
*.synctex.gz
*.tdo*
*.toc
*.toc*
*.xdy
*_latexmk*
*cookie*
*make
*make*
*run.xml*
*~
*~*
.DS_Store*
thesis.bcf*
thesis.run.xml*
thesis.txt*
*.ps
*.pdf
*.pdf_tex
*.loc
*.Rhistory
#*.png
#*.jpg
*cache*
thesis.pdf
chapter*.pdf
Data_analysis/reference-mapping/ref-map-doc.pdf
*.vrb
Presentations/Group_meeting/incomplete_digestion.pdf
*Chapter*/Figs/Knitr
*.tiff
*\.Rhistory
